{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "ecmaFeatures": {
      "classes": true
    },
    "rules": {
      "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
      "global-require": "off",
      "no-console": "off",
      "import/no-extraneous-dependencies": "off",
      "import/extensions": "off",
      "import/no-unresolved": "off",
      "jsx-a11y/anchor-is-valid": "off",
      "no-underscore-dangle": "off",
      "prefer-promise-reject-errors": "off",
      "no-nested-ternary": "off",
      "react/no-multi-comp": "off",
      "import/no-dynamic-require": "off",
      "object-curly-spacing":"off",
      "arrow-parens":"off",
      "no-useless-escape":"off",
      "no-plusplus": "off",
      "no-use-before-define": "off",
      "class-methods-use-this": "off",
      "brace-style": "off",
      "no-shadow": "off",
      "no-param-reassign": "off",
      "react/destructuring-assignment": "off",
      "react/jsx-one-expression-per-line": "off",
      "no-else-return": "off"
    }
  }
  